//fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

//colors
$background-grey-light: #F3F3F3;
$background-white: #FFFFFF;
$background-grey-dark: #8E8F90;
$text-grey: #646569;
$text-grey-dark:#49494D;
$text-white: #FFFFFF;
$text-black: #000000;
$line-green: #A3D541;
$line-grey-light: #D2D2D2;
$line-grey-dark:#8E8F90;
$tab-background:#FFFFFF;

@mixin full_size {
    min-height:100vh;
    min-width:100vw;
}

//viewport width
$viewport-width-desktop: 1280px;

//container max-width
$input-container-max-width: 400px;
$output-container-max-width: 804px;