.button-info-container {
    .info-button {
        padding: 0 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
        &:hover {
            cursor: pointer;
            //background-color: $icon-border-blue;
        }
        span{
            border: solid 2px $icon-border-blue;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18px;
            width: 18px;
            &:hover {
                background-color: $icon-border-blue;
            }
        }
    }
}
