@import 'buttonScenarious.scss';
@import 'buttonInfo.scss';
@import 'buttonsAction.scss';
@import 'leversSteps.scss';

//main body starts-->
.calculator-wrapper {
    display: flex;
    background: $background-grey-light;
    .calculator-blocks {
        display: flex;
        flex-direction: row;
        flex: 1;
        max-width: calc($viewport-width-desktop - $wrapper-margin-x);
        padding: 15px 35px 15px 35px;
        margin: auto;
        .calculator-inputs {
            max-width: $input-container-max-width;
            width: 100%;
            margin-right: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .inputs-navigation {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height:60px;
                background: $background-white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                margin-bottom: 8px;
                position: relative;
                .scenario-dropdown {
                    display: flex;
                    padding-left: 10px;
                    .menu-item {
                        width: 202px;
                        box-sizing: border-box;
                        padding-left: 19px;
                        a {
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            letter-spacing: -0.02em;
                            color: $text-grey;
                            text-decoration: none;
                        }
                        svg {
                            margin-left: 10px;
                        }
                        .fade-enter-active,
                        .fade-leave-active {
                            transition: all .5s ease-in-out;
                        }
                        .fade-enter,
                        .fade-leave-to {
                            opacity: 0;
                        }
                        .sub-menu {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-evenly;
                            background: $background-white;
                            top: calc(100% - 4px);
                            left: 0;
                            width: max-content;
                            height: max-content;
                            border-radius: 0 0 4px 4px;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
                            padding: 7px;
                            .menu-item {
                                background: $background-grey-light;
                                padding-top: 7px;
                                padding-bottom: 7px;
                                width: 100%;
                                margin-top: 3px;
                                &:hover {
                                    cursor: pointer;
                                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
                                    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
                                }
                                a {
                                    margin: 7px 21px;
                                    font-family: 'Rubik';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: $text-grey;
                                }
                            }
                        }
                    }
                }
                .button-container {
                    display: flex;
                    flex:2;
                    justify-content: right;
                    padding-right: 10px;
                    border-left: solid 1px $background-grey-mid;
                    .button-reset {
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: -0.02em;
                        color: $text-white;
                        padding: 8px 12px;
                        background: $button-reset-background-default;
                        border-radius: 4px;
                        border: none;
                        &:hover {
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                        }
                        &:active {
                            background: $button-reset-background-active;
                        }
                    }
                }
            }
            .levers-container {
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                align-items: center;
                background: $background-white;
                border-radius: 4px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                .levers-header {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0 10px;
                    box-sizing: border-box;
                    .levers-column__sectors, .levers-column__steps {
                        border-bottom: 1px solid $background-grey-mid;
                        display: flex;
                        flex-direction: row;
                        flex: 2;
                        align-items: center;
                        p {
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            color: $text-grey;
                            padding-left: 4px;
                            margin: 17.5px 0;
                        }
                    }
                    .levers-column__steps {
                        padding-left: 18px;
                    }
                }
                .levers-table {
                    display: flex;
                    margin-top: 23px;
                    margin-bottom: 35px;
                    overflow-y: scroll;
                    max-height: 400px;
                    .levers {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        .levers-sector-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            &:first-child {
                                .levers-sector {
                                    padding-top: 8px;
                                }
                            }
                            .levers-sector {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: 0 28px 8px 10px;
                                .card {
                                    height: 70px;
                                    width: 202px;
                                    border: solid 1px $background-grey-light;
                                    border-radius: 4px;
                                    background: $background-grey-light;
                                    box-sizing: border-box;
                                    margin-right: 8px;
                                    padding: 0 8px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    &:hover {
                                        cursor: pointer;
                                        border: none;
                                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1)); 
                                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                                    }
                                    &.active {
                                        height: 35px;
                                        box-shadow: none;
                                        background: $background-grey-light;
                                        border: 1px solid $background-grey-light;
                                        .sector-name {
                                            white-space: nowrap;
                                        }
                                        .sector-logo {
                                            img {
                                                height: 24px;
                                            }
                                        }
                                        &:hover {
                                            cursor: pointer;
                                            border: none;
                                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1)); 
                                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
                                        }
                                    }
                                    .sector-name {
                                        font-family: 'Rubik';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 17px;
                                        color: $text-grey-dark;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                            .levers-subsector-container {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                width: 100%;
                                padding: 7px 29px 12px 11px;
                                box-sizing: border-box;
                                .levers-subsectors {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    .subsector-container {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        width: 100%;
                                        margin-bottom: 4px;
                                        align-items: center;
                                    }
                                }
                            }
                            .levers-subsectors {
                                display: flex;
                                .subsector-container {
                                    display: flex;
                                    flex-direction: row;
                                    .subsector-name {
                                        display: flex;
                                        font-family: 'Rubik';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 14px;
                                        letter-spacing: -0.03em;
                                        color: $text-grey-dark;
                                        border-bottom: solid 1px $background-grey-light;
                                        height: 100%;
                                        width: 100%;
                                        align-items: center;
                                        margin-right: 20px;
                                        cursor: pointer;
                                        &:hover {
                                            color: $text-subsectors-hover;
                                        }
                                    }
                                    &:last-child {
                                        .subsector-name {
                                            border-bottom: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media screen and (max-width:920px) {
                display: none;
            }
        }
        .calculator-outputs {
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: $background-white;
            display: flex;
            flex-direction: column;
            .subtab-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 26px;
                position: relative;
                @media screen and (max-width:1089px) {
                    margin: 26px 26px 90px 26px;
                }
                span {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: -0.02em;
                    color: $text-grey;
                }
                .subtab-menu-charts {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    span {
                        padding: 4.5px 12px;
                        margin: 0 12px;
                        white-space: nowrap;
                        &:hover {
                            cursor: pointer;
                            font-weight: 500;
                            border-radius: 50px;
                            background: $button-submenu-backgroung-hover;
                        }
                        &:active {
                            cursor: pointer;
                            font-weight: 500;
                            border-radius: 50px;
                            background: $button-submenu-backgroung-active;
                        }
                    }
                    @media screen and (max-width:1089px) {
                        display: none;
                    }
                }
                .charts-dropdown {
                    display: none;
                    @media screen and (max-width:1089px) {
                        display: flex;
                        .menu-item {
                            a {
                                font-family: 'Rubik';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 17px;
                                text-align: center;
                                letter-spacing: -0.02em;
                                color: $text-grey;
                                text-decoration: none;
                                padding: 4.5px 12px;
                                margin: 0 12px;
                                white-space: nowrap;
                                cursor: pointer;
                                &:active {
                                    font-weight: 500;
                                    border-radius: 50px;
                                    background: $button-submenu-backgroung-active;
                                }
                            }
                            svg {
                                margin-left: 10px;
                            }
                            .fade-enter-active,
                            .fade-leave-active {
                                transition: all .5s ease-in-out;
                            }
                            .fade-enter,
                            .fade-leave-to {
                                opacity: 0;
                            }
                            .sub-menu {
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-evenly;
                                top: calc(100% + 4.5px);
                                left: 0;
                                width: max-content;
                                height: max-content;
                                //padding: 7px;
                                .menu-item {
                                    padding-top: 7px;
                                    padding-bottom: 7px;
                                    width: 100%;
                                    margin-top: 3px;
                                    border-bottom: solid 1px $line-grey-light;
                                    cursor: pointer;
                                    &:last-child {
                                        border-bottom: none;
                                    }
                                    a {
                                        //margin: 7px 21px;
                                        font-family: 'Rubik';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 17px;
                                        color: $text-grey;
                                    }
                                }
                            }
                        }
                    }
                }
                .subtab-menu-share {
                    span {
                        color: $text-grey-dark;
                        padding: 4px 20px;
                        background: $background-grey-light;
                        border-radius: 50px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .output-charts-container {
                height: 100%;
                width: 100%;
                .chart-container {
                    padding: 0 30px 30px 30px;
                    .chart-container-main {
                        display: inline-block;
                        position: relative;
                        width: 100%;
                    }
                }
            }
        }
        @media screen and (max-width:920px) {
            flex-direction: column;
        }
    }
}
.partners-wrapper {
    padding: 0 35px 20px 35px;
    .partners-block {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        max-width: $viewport-width-desktop;
        padding-top: 20px;
        margin: auto;
        .brittish-embassy {
            margin-right: 125px;
            img {
                height: 120px;
                width: 152.43px;
            }
            @media screen and (max-width:580px) {
                margin-right: 0;
                padding-bottom: 60px;
            }
        }
        .rtg > img {
            height: 50px;
            width: 221.13px;
        }
        @media screen and (max-width:580px) {
            flex-direction: column;
        }
    }
}