//footer starts-->
.footer-wrapper {
    background: $background-grey-dark;
    //box-sizing: border-box;
    // position: absolute;
    // bottom: 0;
    max-width: $viewport-width-desktop;
    padding: 20px 80px 20px 80px;
    .footer-blocks {
        display: flex;
        flex-direction: column;
        .upper-footer {
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: space-between;
            border-bottom: solid 1px $line-grey-light;
            padding-bottom: 16px;
            .left {
                display: flex;
                flex-direction: row;
                height: 100%;
                .contacts {
                    display: flex;
                    font-family: Rubik,sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: $text-white;
                    margin-left: 30px;
                    align-self: flex-end;
                }
            }
            .right {
                font-family: Rubik,sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.02em;
                color: $text-white;
                text-align: right;
                align-self: flex-end;
            }
        }
        .lower-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            p, a {
                font-family: Rubik,sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: $text-white;
                text-decoration: none;
            }
        }
    }
}