//footer starts-->
.footer-wrapper {
    background: $background-grey-dark;
    flex-shrink: 0;
    padding: 50px 55px 18.5px 55px;
    @media screen and (max-width:470px) {
        padding-left: 20.5px;
        padding-right: 20.5px;
    }
    .footer-blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: $viewport-width-desktop;
        margin: 0 auto;
        .footer-block {
            display: flex;
            width: 100%;
            &__upper {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 51.5px;
                .flex-container {
                    width: 100%;
                    &__footer-list {
                        display: flex;
                        flex: 1;
                        .footer-list-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            .footer-list {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                padding: 0;
                                margin: auto;
                                column-gap: 85px;
                                width: fit-content;
                                padding-right: 20px;
                                list-style: none;
                                white-space: nowrap;
                                @media screen and (max-width:800px) {
                                    column-gap: 30px;
                                    width: 100%;
                                }
                                @media screen and (max-width:730px) {
                                    column-gap: 85px;
                                    width: 100%;
                                    margin-bottom: 80px;
                                }
                                @media screen and (max-width:400px) {
                                    grid-template-columns: repeat(1, 1fr);
                                    width: 100%;

                                }
                                .menu-item {
                                    margin-bottom: 10px;
                                    a {
                                        font-family: 'Rubik';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 13px;
                                        line-height: 15px;
                                        letter-spacing: -0.04em;
                                        color: $text-white;
                                        text-transform: uppercase;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    &__footer-contacts {
                        display: flex;
                        flex: 1;
                        height: 100%;
                        border-left: solid 1px $background-grey-mid;
                        @media screen and (max-width:1015px) {
                            justify-content: center;
                            padding-left: 20px;
                        }
                        @media screen and (max-width:730px) {
                            border-left: none;
                            padding-left: 0;
                            justify-content: left;
                        }
                        @media screen and (max-width:470px) {
                            justify-content: left;
                        }
                        @media screen and (max-width:400px) {
                            justify-content: left;
                        }
                        .footer-contacts-container {
                            display: flex;
                            flex-direction: column;
                            padding-left: 127px;
                            h2, p, a {
                                font-family: 'Rubik';
                                font-style: normal;
                                line-height: 14px;
                                letter-spacing: -0.02em;
                                color: $text-white;
                                white-space: nowrap;
                            }
                            h2 {
                                font-weight: 500;
                                font-size: 16px;
                                margin: 0;
                                padding-bottom: 37px;
                                @media screen and (max-width:730px) {
                                    padding-bottom: 35px;
                                }
                            }
                            p, a {
                                font-weight: 400;
                                font-size: 14px;
                                margin: 0;
                                margin-bottom: 10px;
                                text-decoration: none;
                            }
                            p {
                                @media screen and (max-width:373px) {
                                    white-space: normal;
                                }
                            }    
                            .footer-contacts-list {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: left;
                                margin-bottom: 8px;
                                span {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                p, a {
                                    padding-left: 16px;
                                    margin-bottom: 0;
                                }
                            }
                            @media screen and (max-width:1015px) {
                                padding-left: 0;
                            }
                        }
                    }
                }
                @media screen and (max-width:730px) {
                    flex-direction: column;
                    align-items: stretch;
                    margin-bottom: 20px;
                }
            }
            &__lower {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-top: 16px;
                border-top: solid 1px $background-grey-mid;
                @media screen and (max-width:730px) {
                    justify-content: left;
                }
                p {
                    padding-left: 8px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 14px;
                    letter-spacing: -0.02em;
                    color: $text-white;
                    margin: 0;
                }
            }
        }
    }
}