@import 'buttonCloseModal.scss';

.modal-how-to-use-mask {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    .modal-how-to-use-wrapper {
        display: table-cell;
        vertical-align: middle;
        .modal-how-to-use-block {
            display: flex;
            flex-direction: column;
            max-width: calc($viewport-width-desktop-min - $wrapper-margin-x);
            margin: 0 35px;
            background: $background-white;
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            .button-close-container {
                justify-content: right;
                .modal-close-icon {
                    margin: 16px;
                }
            }
            .how-to-use-tab-container {
                padding-left: 34px;
                nav {
                    padding-right: 55px;
                    a {
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        letter-spacing: -0.04em;
                        color: $text-grey-dark;
                        text-decoration: none;
                        padding: 0 4px;
                        margin:0 4px;
                        border: solid 1px $background-grey-light;
                        border-bottom: none;
                        border-radius: 4px 4px 0 0;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        height: 46px;
                        width: 150px;
                        &.router-link-exact-active {
                            background: $button-submenu-backgroung-hover;
                        }
                    }
                }
            }
            .how-to-use-content-container {
                display: flex;
                flex-direction: row;
                flex: 1;
                justify-content: center;
                border-top: solid 1px $background-grey-light;
                margin: 0 30px 30px 30px;
                .how-to-use-img-container {
                    height: 100%;
                    min-height: 400px; //keep for visualisation, object to change
                    margin-top:30px;
                    width: 40%;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 4px;
                }
                .how-to-use-text-container {
                    display: block;
                    height: 100%;
                    margin:30px 0 0 20px;
                    width: 60%;
                    h2, p {
                        font-family: 'Rubik';
                        font-style: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: $text-grey;
                    }
                    h2 {
                        font-weight: 600;
                    }
                    p {
                        font-weight: 400;
                        text-align: justify;
                    }
                }
            }
        }
    }
}
