@import 'viewChildSummary.scss';
@import 'viewChildAboutProject.scss';
@import 'viewChildProjectPurpose.scss';
@import 'viewChildCalcStructure.scss';
@import 'viewChildScenarious.scss';

.block-wrapper {
    display: flex;
    justify-content: center;
    margin: 35px auto 43px auto;
    max-width: $modal-container-width--desktop;
    box-sizing: border-box;
    .block-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        padding: 26px 46px 60px 46px;
        background: $background-white;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .tab-container {
            .tab-links {
                display: flex;
                flex-direction: row;
                border-bottom: solid 1px $background-grey-light;
                .tab-link-item {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: -0.04em;
                    color: $text-grey-dark;
                    text-decoration: none;
                    padding: 6px 23.2px;
                    margin-right: 4px;
                    border: solid 1px $background-grey-light;
                    border-bottom: none;
                    border-radius: 4px 4px 0 0;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 46px;
                    width: 150px;
                    box-sizing: border-box;
                }
                &.router-link-active,
                .router-link-exact-active {
                    background: $button-submenu-backgroung-hover;
                }
            }
        }
        .content-container {
            padding: 34px 0 60px 0;
            display: flex;
            .content-blocks {
                display: flex;
                flex-direction: column;
                flex: 1;
                .content-block {
                    display: flex;
                    &__text-container {
                        flex: 1;
                        p, h2, li {
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            letter-spacing: -0.04em;
                            color: $text-grey-dark;
                            @media screen and (max-width:$viewport-width-mobile-max) {
                                font-size: 13px;
                                line-height: 15px;
                            }
                            b {
                                font-weight: 500;
                            }
                        }
                        h2 {
                            font-weight: 500;
                            margin-bottom: 0;
                            border-bottom: solid 4px $button-submenu-backgroung-hover;
                        }
                    }
                }
            }
        }
        @media screen and (max-width:$viewport-width-tablet-max) {
            max-width: $modal-container-width--tablet;
            padding: 35px 40px 60px 34px;
        }
    }
}
