@import 'base.scss';
@import 'header.scss';
@import'calculatorBody.scss';
@import 'howToUseBody.scss';
@import 'footer.scss';


body {
    background: $background-grey-light;
    margin: 0;
    @include full_size;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    position: relative;
}