@import 'base.scss';
@import 'header.scss';
@import 'calculatorBody.scss';
@import 'viewsBase.scss';
@import 'footer.scss';
@import 'modalHowToUse.scss';
@import 'modalAbout.scss';
@import 'modalCalculatorInputs.scss';
@import 'modalSections.scss';
@import 'modalSteps.scss';


body {
    background: $background-grey-light;
    margin: 0;
    @include full_size;
    overflow-x: hidden;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    position: relative;
}